@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  color: var(--background);
  background-color: var(--accent);
}

*,
:after,
:before {
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  tab-size: 4;
  word-break: break-word;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
  border-image: initial;
  outline: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  transition: var(--tr);
  background-repeat: no-repeat;
  font-feature-settings: "ss03" 1, "liga" 1, "calt" 1;
}

a,
button {
  text-decoration: none;
  white-space: nowrap;
  transition: var(--tr);
  cursor: pointer;
}

a {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: var(--subtle);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
a:hover {
  color: var(--orange);
  text-decoration-color: var(--orange);
}

img {
  display: block;
  width: 100%;
}

:root {
  --accent: #fff;
  --soft: #868f97;
  --subtle: #3c4145;
  --offset-hover: #202027;
  --offset: #16161b;
  --background-soft: rgb(255 255 255 / 4%);
  --background-subtle: rgb(255 255 255 / 2%);
  --background: #000;
  --background-rgb: 0 0 0;
  --orange: #f6c86a;
  --green: #4ebe96;
  --yellow: #f3db2e;
  --font-sans: "Calibre", sans-serif;
  --text-small: var(--fw-400) 16px/1.3 var(--font-sans);
  --text-body: var(--fw-400) 18px/1.3 var(--font-sans);
  --text-heading: var(--fw-600) 24px/1.2 var(--font-sans);
  --text-title: var(--fw-600) 32px/1 var(--font-sans);
  --text-hero: var(--fw-600) 42px/1 var(--font-sans);
  --padding-gap: clamp(24px, 1vw + 20px, 32px);
  --radius: 16px;
  --radius-button: 10px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --tr: all 100ms ease;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --text-title: var(--fw-600) 28px/1 var(--font-sans);
    --text-hero: var(--fw-600) 30px/1 var(--font-sans);
    --radius: 10px;
  }
}
body {
  font-family: var(--font-sans);
  background-color: #000;
  color: var(--accent);
  font: var(--text-body);
  scroll-behavior: smooth;
  text-wrap: pretty;
  font-feature-settings: "ss03" 1;
  overflow-x: hidden;
}
body.loading * {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.loaded * {
  opacity: 1;
}

@font-face {
  font-family: "Calibre";
  src: url("../font/Calibre-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibre";
  src: url("../font/Calibre-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibre";
  src: url("../font/Calibre-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
main,
.main {
  display: flex;
  flex-direction: column;
  width: min(100%, 550px + var(--padding-gap) * 2);
  gap: clamp(120px, 5vw + 60px, 200px);
  margin-inline: auto;
  position: relative;
  padding: var(--padding-gap) var(--padding-gap) 0;
}
main-case,
.main-case {
  font: var(--fw-400) 20px/1.4 var(--font-sans);
}

nav,
.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-bottom: 4px;
  width: 100%;
  z-index: 9;
}
nav.scrolled,
.nav.scrolled {
  height: 64px;
  background-color: rgb(var(--background-rgb)/80%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
nav.scrolled .nav__intro,
.nav.scrolled .nav__intro {
  font: var(--text-small);
}
nav.scrolled .nav__intro--name,
.nav.scrolled .nav__intro--name {
  font-weight: var(--fw-500);
  padding-top: 3px;
  line-height: 1;
}
nav.scrolled .nav__intro--role,
.nav.scrolled .nav__intro--role {
  padding-top: 2px;
  line-height: 1;
}
nav.scrolled .nav__intro--avatar,
.nav.scrolled .nav__intro--avatar {
  height: 36px;
  width: min(100%, 36px);
}
nav-case.scrolled,
.nav-case.scrolled {
  height: 44px;
}
nav__wrapper,
.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-gap);
  width: min(100%, 550px + var(--padding-gap) * 2);
  padding: 0 var(--padding-gap);
  margin-inline: auto;
}
nav__intro,
.nav__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
nav__intro:hover,
.nav__intro:hover {
  color: inherit;
}
nav__intro--avatar,
.nav__intro--avatar {
  border-radius: 100px;
  height: 40px;
  width: min(100%, 40px);
}
nav__intro--name,
.nav__intro--name {
  font-weight: var(--fw-500);
  line-height: 1.1;
  margin-top: 4px;
}
nav__intro--role,
.nav__intro--role {
  font: var(--text-small);
  color: var(--soft);
  line-height: 1.1;
}
nav__menu,
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
}
nav__menu--links,
.nav__menu--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
nav__menu--item,
.nav__menu--item {
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--text-small);
  color: var(--soft);
  position: relative;
  text-decoration: none;
  height: 32px;
  padding-top: 6px;
}
nav__menu--item.active,
.nav__menu--item.active {
  color: var(--accent);
}
nav__menu--item.active::after,
.nav__menu--item.active::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--orange);
  position: absolute;
  top: calc(100% - 4px);
  left: calc(50% - 2px);
}
nav__menu--item:hover,
.nav__menu--item:hover {
  color: var(--accent);
}
nav__menu--toggle,
.nav__menu--toggle {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 32px;
  padding: 2px 14px 0 16px;
}
nav__menu--toggle svg,
.nav__menu--toggle svg {
  margin: -3px 0 0 -2px;
  top: 0;
}

button,
.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 36px;
  padding: 2px 20px 0;
  font: var(--text-small);
  font-weight: var(--fw-500);
  border-radius: 999px;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button::after,
.bt::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -2;
  background: url("../img/canvas-noise.png") repeat;
  background-size: 40px;
  opacity: 0.15;
}
button::before,
.bt::before {
  content: "";
  position: absolute;
  box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset, rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset, rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset, rgba(255, 255, 255, 0.1) 0px 0px 3px;
  border-radius: 28px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
button:hover,
.bt:hover {
  background-color: var(--offset);
}
button-secondary,
.bt-secondary,
nav__menu--toggle,
.nav__menu--toggle {
  box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset, rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset, rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset;
}
button-secondary::before,
.bt-secondary::before,
nav__menu--toggle::before,
.nav__menu--toggle::before {
  display: none;
}
button-secondary::after,
.bt-secondary::after,
nav__menu--toggle::after,
.nav__menu--toggle::after {
  content: "";
  position: absolute;
  background: radial-gradient(61.35% 50.07% at 48.58% 50%, rgb(0, 0, 0) 0%, rgb(24, 24, 24) 100%);
  box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset, rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset, rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset, rgba(255, 255, 255, 0.1) 0px 0px 3px;
  border-radius: 28px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
button svg,
.bt svg {
  position: relative;
  margin-left: -2px;
  top: -0.5px;
}

.gradient-text-orange, header--hero, header--title,
.header--hero,
.header--title {
  background: linear-gradient(90deg, rgb(179, 174, 245) 0.41%, rgb(215, 203, 231) 40.68%, rgb(229, 200, 200) 64.12%, rgb(234, 168, 121) 97.82%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-text-green {
  background: linear-gradient(74.08deg, #3aaa82 36.3%, #3fc6d8 99.02%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

header,
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--padding-gap);
  padding-top: clamp(120px, 5vw + 60px, 200px);
  text-align: center;
}
header--hero, header--title,
.header--hero,
.header--title {
  text-wrap: balance;
}
header--hero,
.header--hero {
  font: var(--text-hero);
}
header--title,
.header--title {
  font: var(--text-title);
}
header--subtitle,
.header--subtitle {
  font: var(--text-body);
  color: var(--soft);
  margin-top: 8px;
  max-width: 1000ch;
}

.shader, .modal__container--card, .modal__container, section__how--card,
.section__how--card, section__gallery--item img,
.section__gallery--item img, section__case--cover,
.section__case--cover, .card, section__contact--card,
.section__contact--card, section__portfolio--card,
.section__portfolio--card, section__services--card,
.section__services--card {
  position: relative;
  z-index: 0;
}
.shader::before, .modal__container--card::before, .modal__container::before, section__how--card::before,
.section__how--card::before, section__gallery--item img::before,
.section__gallery--item img::before, section__case--cover::before,
.section__case--cover::before, .card::before, section__contact--card::before,
.section__contact--card::before, section__portfolio--card::before,
.section__portfolio--card::before, section__services--card::before,
.section__services--card::before, .shader::after, .modal__container--card::after, .modal__container::after, section__how--card::after,
.section__how--card::after, section__gallery--item img::after,
.section__gallery--item img::after, section__case--cover::after,
.section__case--cover::after, .card::after, section__contact--card::after,
.section__contact--card::after, section__portfolio--card::after,
.section__portfolio--card::after, section__services--card::after,
.section__services--card::after {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.shader::before, .modal__container--card::before, .modal__container::before, section__how--card::before,
.section__how--card::before, section__gallery--item img::before,
.section__gallery--item img::before, section__case--cover::before,
.section__case--cover::before, .card::before, section__contact--card::before,
.section__contact--card::before, section__portfolio--card::before,
.section__portfolio--card::before, section__services--card::before,
.section__services--card::before {
  background: linear-gradient(145.76deg, rgba(198, 198, 198, 0.16) -4.25%, rgba(27, 27, 27, 0.27) 20.75%), linear-gradient(167.5deg, rgba(27, 27, 27, 0.034) 58.18%, rgba(198, 198, 198, 0.178) 92.77%);
  z-index: -1;
}
.shader::after, .modal__container--card::after, .modal__container::after, section__how--card::after,
.section__how--card::after, section__gallery--item img::after,
.section__gallery--item img::after, section__case--cover::after,
.section__case--cover::after, .card::after, section__contact--card::after,
.section__contact--card::after, section__portfolio--card::after,
.section__portfolio--card::after, section__services--card::after,
.section__services--card::after {
  padding: 0.5px;
  background: linear-gradient(190deg, rgba(255, 255, 255, 0.8) 10.85%, rgba(20, 20, 20, 0.16) 24.36%, rgba(50, 50, 50, 0.16) 73.67%, rgba(255, 255, 255, 0.8) 90.68%);
  mask: linear-gradient(black, black) content-box exclude, linear-gradient(black, black);
  z-index: 1;
  opacity: 0.1;
}

.card, section__contact--card,
.section__contact--card, section__portfolio--card,
.section__portfolio--card, section__services--card,
.section__services--card {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: var(--background-subtle);
}
.card:hover, section__contact--card:hover,
.section__contact--card:hover, section__portfolio--card:hover,
.section__portfolio--card:hover, section__services--card:hover,
.section__services--card:hover {
  background-color: var(--background-soft);
}

section,
.section {
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
  scroll-margin-top: 80px;
}
section--label,
.section--label {
  font: var(--text-title);
}
section--title,
.section--title {
  font: var(--text-title);
}
section__col,
.section__col {
  display: flex;
  flex-direction: column;
  gap: clamp(80px, 5vw + 30px, 120px);
  flex: 1;
  width: 100%;
}
section__content,
.section__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  width: 100%;
}
section__content--title,
.section__content--title {
  font: var(--text-heading);
}
section__content--text,
.section__content--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
section__content--text-soft,
.section__content--text-soft {
  color: var(--soft);
}
section__content--text svg,
.section__content--text svg {
  color: var(--orange);
}
section__content--text.quote,
.section__content--text.quote {
  position: relative;
  padding-left: 24px;
}
section__content--text.quote::after,
.section__content--text.quote::after {
  content: "“";
  font: var(--text-hero);
  font-weight: var(--fw-400);
  position: absolute;
  left: 0;
  top: -4px;
}
section__content--link,
.section__content--link {
  margin-top: 4px;
}
section__content ul,
.section__content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section__content ul li,
.section__content ul li {
  list-style: circle;
  list-style-position: outside;
}
section__content ul li span,
.section__content ul li span {
  color: var(--orange);
}
section__services,
.section__services {
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
  flex-wrap: wrap;
}
section__services--card,
.section__services--card {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 16px;
  gap: 16px;
  border-radius: var(--radius);
}
section__services--card img,
.section__services--card img {
  width: min(100%, 40px);
  height: 40px;
  transform: scaleX(-1);
}
section__services .section__content--text,
.section__services .section__content--text {
  font: var(--text-body);
  font-weight: var(--fw-500);
}
section__services .section__content--text-soft,
.section__services .section__content--text-soft {
  font: var(--text-small);
}
section__portfolio--grid,
.section__portfolio--grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
}
section__portfolio--card,
.section__portfolio--card {
  display: flex;
  flex-direction: column;
  padding: 24px 32px 32px;
  text-decoration: none;
  border-radius: var(--radius);
  aspect-ratio: 580/400;
  transition: all 200ms ease;
  cursor: pointer;
}
section__portfolio--card:hover,
.section__portfolio--card:hover {
  color: var(--accent);
}
section__portfolio--title,
.section__portfolio--title {
  display: flex;
  flex-direction: column;
  font-weight: var(--fw-600);
  white-space: normal;
}
section__portfolio--title span,
.section__portfolio--title span {
  display: block;
  font: var(--text-small);
  font-weight: var(--fw-400);
  color: var(--soft);
  margin-bottom: 24px;
  margin-top: 2px;
}
section__portfolio--img,
.section__portfolio--img {
  position: relative;
}
section__portfolio--img img,
.section__portfolio--img img {
  object-fit: contain;
  height: auto;
}
section__project--grid,
.section__project--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
  gap: var(--padding-gap);
  margin-top: 16px;
}
section__project--thumb,
.section__project--thumb {
  display: flex;
  flex-direction: column;
  font: var(--text-small);
  gap: 8px;
  text-decoration: none;
}
section__project .photo-hover,
.section__project .photo-hover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  perspective: 500px;
  --mouse-x: 50%;
  --mouse-y: 50%;
}
section__project .photo-hover img,
.section__project .photo-hover img {
  display: block;
  width: 100%;
  height: auto;
}
section__project .photo-hover::after,
.section__project .photo-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.15), transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease, background-position 0.1s;
}
section__project .photo-hover:hover::after,
.section__project .photo-hover:hover::after {
  opacity: 1;
}
section__case--header,
.section__case--header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}
section__case--title,
.section__case--title {
  font: var(--text-title);
}
section__case--title span,
.section__case--title span {
  color: var(--green);
  margin-block: 4px;
  display: block;
}
section__case--subtitle,
.section__case--subtitle {
  font: var(--text-body);
  color: var(--soft);
}
section__case--cover,
.section__case--cover {
  margin-top: 32px;
  cursor: pointer;
  border-radius: var(--radius);
  overflow: hidden;
}
section__experience,
.section__experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section__experience--row,
.section__experience--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 24px;
}
section__contact,
.section__contact {
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
  width: 100%;
}
section__contact--grid,
.section__contact--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 16px;
  width: 100%;
}
section__contact--card,
.section__contact--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-decoration: none;
  border-radius: var(--radius-button);
  padding: 14px 12px 12px;
  font: var(--text-small);
}
section__contact--card span,
.section__contact--card span {
  font: var(--text-small);
  white-space: normal;
  text-align: center;
  line-height: 16px;
}
section__contact--card:hover,
.section__contact--card:hover {
  color: var(--accent);
  background-color: var(--background-soft);
}
section__contact--icon,
.section__contact--icon {
  color: var(--soft);
}
section__photos,
.section__photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  padding-top: clamp(120px, 5vw + 60px, 200px);
}
section__photos img,
.section__photos img {
  border-radius: var(--radius);
  scale: 1.1;
  transition: all 300ms ease;
  box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
section__photos img:nth-child(1), section__photos img:nth-child(3),
.section__photos img:nth-child(1),
.section__photos img:nth-child(3) {
  rotate: -6deg;
}
section__photos img:nth-child(2), section__photos img:nth-child(4),
.section__photos img:nth-child(2),
.section__photos img:nth-child(4) {
  rotate: 6deg;
}
section__photos img:hover,
.section__photos img:hover {
  scale: 1.2;
  z-index: 1;
}
section__photos img:hover:nth-child(1), section__photos img:hover:nth-child(3),
.section__photos img:hover:nth-child(1),
.section__photos img:hover:nth-child(3) {
  rotate: -3deg;
}
section__photos img:hover:nth-child(2), section__photos img:hover:nth-child(4),
.section__photos img:hover:nth-child(2),
.section__photos img:hover:nth-child(4) {
  rotate: 3deg;
}
section__gallery,
.section__gallery {
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
}
section__gallery--item,
.section__gallery--item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section__gallery--item small,
.section__gallery--item small {
  font: var(--text-small);
  color: var(--soft);
}
section__gallery--item img,
.section__gallery--item img {
  border-radius: var(--radius);
  overflow: hidden;
}
section__quote--grid,
.section__quote--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--padding-gap);
}
section__quote--item,
.section__quote--item {
  border-left: 2px solid var(--subtle);
  padding-left: 16px;
  font: var(--text-heading);
  font-weight: var(--fw-500);
  height: fit-content;
}
section__quote--item span,
.section__quote--item span {
  font: var(--text-small);
  color: var(--soft);
  display: block;
  margin-top: 4px;
}
section__how--grid,
.section__how--grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-gap);
}
section__how--card,
.section__how--card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  background-color: var(--background-subtle);
}
section__how--title,
.section__how--title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: var(--fw-600);
}
section__how--title span,
.section__how--title span {
  font-feature-settings: "cv01" 1, "cv09" 1, "cv02" 1, "zero" 1;
  color: var(--orange);
}
section__how--text,
.section__how--text {
  color: var(--soft);
  font: var(--text-small);
}

footer,
.footer {
  padding: clamp(120px, 5vw + 60px, 200px) 0;
}
footer__wrapper,
.footer__wrapper {
  width: min(100%, 550px + var(--padding-gap) * 2);
  padding-inline: var(--padding-gap);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 24px;
}
footer__intro,
.footer__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px 12px;
}
footer__intro--avatar,
.footer__intro--avatar {
  border-radius: 100px;
  height: 40px;
  width: min(100%, 40px);
}
footer__intro--name,
.footer__intro--name {
  font-weight: var(--fw-600);
}
footer__intro--role,
.footer__intro--role {
  font: var(--text-small);
  color: var(--soft);
}
footer__menu,
.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
footer__menu--links,
.footer__menu--links {
  display: flex;
  flex-direction: column;
}
footer__menu--item,
.footer__menu--item {
  display: flex;
  align-items: center;
  font: var(--text-small);
  color: var(--soft);
  position: relative;
  text-decoration: none;
  height: 28px;
}
footer__menu--item:hover,
.footer__menu--item:hover {
  color: var(--accent);
}

.modal {
  display: none;
}
.modal--toggle:checked ~ .modal {
  display: flex;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal--overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  backdrop-filter: blur(20px);
  animation: fadeIn 0.2s ease both;
}
.modal__container {
  position: relative;
  background: var(--background);
  padding: 28px 32px 32px;
  border-radius: var(--radius);
  width: min(100%, 400px);
  z-index: 1;
  animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
  text-align: left;
}
.modal__container--title {
  font: var(--text-heading);
  margin-bottom: 4px;
}
.modal__container--text {
  font: var(--text-small);
  color: var(--soft);
  margin-bottom: 16px;
}
.modal__container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 16px;
  width: 100%;
}
.modal__container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  border-radius: var(--radius-button);
  padding: 14px 12px;
}
.modal__container--card span {
  font: var(--text-small);
  white-space: normal;
  line-height: 16px;
}
.modal__container--card:hover {
  background-color: var(--background-soft);
  color: var(--accent);
}
.modal--close {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  color: var(--soft);
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.modal--close:hover {
  color: var(--accent);
}

#imgModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 0.2s ease both;
}
#imgModal img {
  width: 100%;
  max-height: 90%;
  animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
  object-fit: contain;
}
#imgModal #closeBtn,
#imgModal #prevBtn,
#imgModal #nextBtn {
  display: grid;
  place-items: center;
  background-color: rgba(30, 30, 28, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--accent);
  border-radius: 999px;
  padding-bottom: 1px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  user-select: none;
  z-index: 9;
}
#imgModal #closeBtn svg,
#imgModal #prevBtn svg,
#imgModal #nextBtn svg {
  scale: 1.2;
}
#imgModal #closeBtn {
  top: 20px;
  right: 20px;
}
#imgModal #prevBtn,
#imgModal #nextBtn {
  top: 50%;
  transform: translateY(-50%);
}
#imgModal #prevBtn {
  left: 20px;
  padding-right: 1px;
}
#imgModal #nextBtn {
  right: 20px;
  padding-left: 1px;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  main,
  .main {
    padding-top: 20px;
    gap: clamp(80px, 5vw + 40px, 120px);
  }
  nav,
  .nav {
    height: 88px;
    padding-bottom: 2px;
  }
  nav.scrolled,
  .nav.scrolled {
    height: 64px;
  }
  nav-case,
  .nav-case {
    height: 64px;
  }
  nav-case.scrolled,
  .nav-case.scrolled {
    height: 44px;
  }
  nav__intro--avatar,
  .nav__intro--avatar {
    height: 36px;
    width: min(100%, 36px);
  }
  nav__menu--toggle,
  .nav__menu--toggle {
    display: flex;
  }
  nav__menu--links,
  .nav__menu--links {
    display: none;
    flex-direction: column;
    background-color: var(--background-subtle);
    padding: 12px 12px 10px;
    gap: 0;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    transform: translateY(-10px);
    transition: none;
    animation: fade-in-menu 400ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    z-index: 2;
    box-shadow: rgba(134, 143, 151, 0.08) 0px 0px 0px 0.5px inset, rgba(134, 143, 151, 0.12) 1px 1px 0px -0.5px inset, rgba(134, 143, 151, 0.12) -1px -1px 0px -0.5px inset;
  }
  nav__menu--links.active,
  .nav__menu--links.active {
    display: flex;
  }
  @keyframes fade-in-menu {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  nav__menu--item,
  .nav__menu--item {
    width: 100%;
    padding: 0 12px 0 12px;
  }
  nav__menu--item.active::after,
  .nav__menu--item.active::after {
    top: calc(50% - 4px);
    left: 2px;
  }
  header,
  .header {
    text-align: left;
    align-items: flex-start;
  }
  section,
  .section {
    flex-direction: column;
  }
  section__experience--row,
  .section__experience--row {
    flex-direction: column;
  }
  section__photos,
  .section__photos {
    margin: -24px -40px 0;
  }
  section__portfolio--grid,
  .section__portfolio--grid {
    gap: var(--padding-gap);
  }
  section__portfolio--card,
  .section__portfolio--card {
    aspect-ratio: 580/500;
    padding: 20px 24px 24px;
  }
  section__services,
  .section__services {
    gap: var(--padding-gap);
  }
  section__services--card,
  .section__services--card {
    flex-direction: column;
    padding: 20px 24px 24px;
    gap: 12px;
  }
  section__how--grid,
  .section__how--grid {
    gap: var(--padding-gap);
  }
  section__gallery--item small,
  .section__gallery--item small {
    text-align: center;
  }
  footer,
  .footer {
    gap: clamp(80px, 5vw + 40px, 120px);
  }
  footer__wrapper,
  .footer__wrapper {
    justify-content: center;
  }
  footer__intro,
  .footer__intro {
    flex-direction: column;
    text-align: center;
  }
  .modal--toggle:checked ~ .modal {
    align-items: flex-end;
  }
  .modal__container {
    border-radius: 16px 16px 0 0;
    animation: fadeInUp 0.2s ease 0.1s both;
  }
  .modal__container--grid {
    grid-template-columns: 1fr;
  }
  .modal__container--card {
    flex-direction: row;
    gap: 8px;
    height: 56px;
    padding: 3px 16px 0;
  }
  .modal__container--card span {
    font: var(--text-body);
    line-height: 20px;
  }
  .modal__container--card svg {
    margin-top: -4px;
  }
  .modal__container--card:hover {
    rotate: -2deg;
    scale: 1.05;
  }
  .modal__container--card:hover .section__contact--icon {
    color: var(--orange);
  }
  .modal--close {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    color: var(--soft);
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
  .modal--close:hover {
    color: var(--accent);
  }
  #imgModal #prevBtn,
  #imgModal #nextBtn {
    top: auto;
    bottom: 20px;
    transform: none;
  }
  #imgModal #prevBtn {
    left: auto;
    right: calc(50% + 8px);
  }
  #imgModal #nextBtn {
    right: auto;
    left: calc(50% + 8px);
  }
}
.relative {
  position: relative;
}

.fx {
  display: flex;
}
.fx-row {
  flex-direction: row;
}
.fx-col {
  flex-direction: column;
}
.fx-wrap {
  flex-wrap: wrap;
}
.fx-1 {
  flex: 1;
}
.fx-gap-2 {
  gap: 2px;
}
.fx-gap-4 {
  gap: 4px;
}
.fx-gap-8 {
  gap: 8px;
}
.fx-gap-12 {
  gap: 12px;
}
.fx-gap-16 {
  gap: 16px;
}
.fx-gap-24 {
  gap: 24px;
}
.fx-gap-32 {
  gap: 32px;
}
.fx-gap-40 {
  gap: 40px;
}
.fx-gap-48 {
  gap: 48px;
}
.fx-gap-56 {
  gap: 56px;
}
.fx-gap-64 {
  gap: 64px;
}
.fx-gap-72 {
  gap: 72px;
}
.fx-gap-80 {
  gap: 80px;
}

.spacer {
  display: block;
  width: 100%;
}
.spacer-8 {
  height: 8px;
}
.spacer-16 {
  height: 16px;
}
.spacer-12 {
  height: 12px;
}
.spacer-24 {
  height: 24px;
}
.spacer-32 {
  height: 32px;
}
.spacer-40 {
  height: 40px;
}
.spacer-48 {
  height: 48px;
}
.spacer-56 {
  height: 56px;
}
.spacer-64 {
  height: 64px;
}
.spacer-72 {
  height: 72px;
}
.spacer-80 {
  height: 80px;
}
.spacer-100 {
  height: 100px;
}
.spacer-120 {
  height: 120px;
}

/*# sourceMappingURL=main.css.map */
