html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  color: var(--background);
  background-color: var(--accent);
}

*,
:after,
:before {
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  tab-size: 4;
  word-break: break-word;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
  border-image: initial;
  outline: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  transition: var(--tr);
  background-repeat: no-repeat;
  font-feature-settings: "ss03" 1, "liga" 1, "calt" 1;
}

a,
button {
  text-decoration: none;
  white-space: nowrap;
  transition: var(--tr);
  cursor: pointer;
}

a {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: var(--soft);
  text-underline-offset: 2px;
}
a:hover {
  color: var(--orange);
  text-decoration-color: var(--orange);
}

img {
  display: block;
  width: 100%;
}

:root {
  --accent: #ededec;
  --soft: #a1a09a;
  --subtle: #3c3c38;
  --offset: #1e1e1c;
  --background: #161615;
  --background-rgb: 22 22 21;
  --orange: #eaa726;
  --green: #74cf5d;
  --yellow: #f3db2e;
  --font-sans: Inter, sans-serif;
  --font-serif: "Newsreader", sans-serif;
  --text-smaller: var(--fw-500) 13px/18px var(--font-sans);
  --text-small: var(--fw-500) 14px/20px var(--font-sans);
  --text-body: var(--fw-500) 16px/24px var(--font-sans);
  --text-heading: var(--fw-600) 18px/24px var(--font-sans);
  --text-title: var(--fw-700) 22px/30px var(--font-sans);
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --tr: all 100ms ease;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--accent);
  font: var(--text-body);
  scroll-behavior: smooth;
  text-wrap: pretty;
  font-feature-settings: "ss03" 1;
}
body.loading * {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body.loaded * {
  opacity: 1;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../font/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: "Newsreader";
  src: url("../font/Newsreader-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
main,
.main,
footer__wrapper,
.footer__wrapper {
  --padding-inline: 24px;
  display: flex;
  flex-direction: column;
  width: min(100%, 580px + var(--padding-inline) * 2);
  margin-inline: auto;
  position: relative;
  padding-inline: var(--padding-inline);
  padding-top: 60px;
}

nav,
.nav {
  --padding-inline: 24px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-bottom: 4px;
  width: 100%;
  z-index: 9;
}
nav.scrolled,
.nav.scrolled {
  height: 64px;
  background-color: rgb(var(--background-rgb)/80%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
nav.scrolled .nav__intro--name,
.nav.scrolled .nav__intro--name {
  font: var(--text-small);
  font-weight: var(--fw-500);
}
nav.scrolled .nav__intro--role,
.nav.scrolled .nav__intro--role {
  font: var(--text-smaller);
}
nav.scrolled .nav__intro--avatar,
.nav.scrolled .nav__intro--avatar {
  height: 36px;
  width: min(100%, 36px);
}
nav-case.scrolled,
.nav-case.scrolled {
  height: 44px;
}
nav__wrapper,
.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: min(100%, 580px + var(--padding-inline) * 2);
  padding: 0 var(--padding-inline);
  margin-inline: auto;
}
nav__intro,
.nav__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
nav__intro:hover,
.nav__intro:hover {
  color: inherit;
}
nav__intro--avatar,
.nav__intro--avatar {
  border-radius: 100px;
  height: 40px;
  width: min(100%, 40px);
}
nav__intro--name,
.nav__intro--name {
  font-weight: var(--fw-600);
}
nav__intro--role,
.nav__intro--role {
  font: var(--text-small);
  color: var(--soft);
}
nav__menu,
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
}
nav__menu--links,
.nav__menu--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
nav__menu--item,
.nav__menu--item {
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--text-small);
  color: var(--soft);
  position: relative;
  text-decoration: none;
  height: 32px;
}
nav__menu--item.active,
.nav__menu--item.active {
  color: var(--accent);
}
nav__menu--item.active::after,
.nav__menu--item.active::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--orange);
  position: absolute;
  top: calc(100% - 4px);
  left: calc(50% - 2px);
}
nav__menu--item:hover,
.nav__menu--item:hover {
  color: var(--accent);
}
nav__menu--toggle,
.nav__menu--toggle {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 44px;
  padding: 0;
  border: 0;
  background-color: transparent;
}
nav__menu--toggle svg,
.nav__menu--toggle svg {
  margin: 0;
  top: 0;
}

button,
.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 32px;
  padding: 0 12px 3px;
  font: var(--text-small);
  font-weight: var(--fw-600);
  border-radius: 8px;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
button-primary,
.bt-primary {
  background-color: var(--accent);
  color: var(--background);
}
button-primary:hover,
.bt-primary:hover {
  rotate: -1deg;
  scale: 1.05;
  background-color: var(--orange);
  color: var(--background);
}
button-secondary,
.bt-secondary {
  background-color: var(--offset);
  color: var(--accent);
}
button-secondary:hover,
.bt-secondary:hover {
  rotate: 1deg;
  scale: 1.05;
  color: var(--accent);
}
button:active,
.bt:active {
  rotate: 0deg;
  scale: 1;
}
button svg,
.bt svg {
  position: relative;
  margin-left: -2px;
  top: -0.5px;
}
button-chat,
.bt-chat {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' fill='none' viewBox='0 0 14 15'%3E%3Cpath stroke='%23ededec' stroke-linejoin='round' stroke-width='1.5' d='M7 1.5a6 6 0 0 0-6 6c0 1.126.316 2.175.855 3.075L1.054 13.5l2.987-.784A5.968 5.968 0 0 0 7 13.5a6 6 0 0 0 0-12Z'/%3E%3Cpath fill='%23ededec' d='M5.23 4.705c-.086-.004-.186-.004-.284-.004-.1 0-.26.037-.397.186-.135.149-.519.507-.519 1.24 0 .73.531 1.438.606 1.535.074.1 1.028 1.649 2.54 2.244 1.253.494 1.51.396 1.784.37.272-.023.878-.358 1.002-.705.123-.347.123-.644.085-.707-.038-.06-.135-.097-.284-.172-.15-.074-.88-.434-1.017-.483-.135-.049-.234-.075-.332.074-.1.15-.383.484-.472.581-.086.1-.172.112-.32.037-.15-.074-.629-.23-1.196-.737A4.445 4.445 0 0 1 5.6 7.136c-.086-.149-.01-.23.065-.305.068-.065.15-.172.224-.258.072-.088.097-.149.146-.249.052-.097.025-.185-.012-.26-.037-.074-.325-.81-.458-1.102-.111-.247-.228-.254-.335-.257Z'/%3E%3C/svg%3E");
  padding-left: 30px;
  background-position: 10px 6.5px;
}

header,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px 32px;
  padding-block: 100px;
}
header--title,
.header--title {
  font: var(--text-title);
  max-width: 32ch;
}
header--title span,
.header--title span {
  color: var(--orange);
}
header--subtitle,
.header--subtitle {
  font: var(--text-body);
  color: var(--soft);
  margin-top: 8px;
  max-width: 1000ch;
}

section,
.section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  scroll-margin-top: 80px;
}
section--label,
.section--label {
  position: sticky;
  top: 80px;
  color: var(--soft);
  width: min(100%, 90px);
  min-width: 90px;
  line-height: 20px;
  height: fit-content;
}
section--title,
.section--title {
  font: var(--text-title);
  font-feature-settings: "ss03" 1, "cv06" 1, "cv10" 1, "cv11" 1, "liga" 1, "calt" 1;
}
section__col,
.section__col {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
  width: 100%;
}
section__content,
.section__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  width: 100%;
}
section__content--title,
.section__content--title {
  font-weight: var(--fw-600);
  margin-bottom: 4px;
}
section__content--text,
.section__content--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
section__content--text-soft,
.section__content--text-soft {
  color: var(--soft);
}
section__content--text svg,
.section__content--text svg {
  color: var(--orange);
}
section__content--link,
.section__content--link {
  margin-top: 4px;
}
section__content ul,
.section__content ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section__content ul li,
.section__content ul li {
  list-style: circle;
  list-style-position: outside;
}
section__content ul li span,
.section__content ul li span {
  color: var(--orange);
}
section__project--grid,
.section__project--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
  gap: 24px;
  margin-top: 16px;
}
section__project--thumb,
.section__project--thumb {
  display: flex;
  flex-direction: column;
  font: var(--text-small);
  gap: 8px;
  text-decoration: none;
}
section__project .photo-hover,
.section__project .photo-hover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  perspective: 500px;
  --mouse-x: 50%;
  --mouse-y: 50%;
  border-radius: 10px;
}
section__project .photo-hover img,
.section__project .photo-hover img {
  display: block;
  width: 100%;
  height: auto;
}
section__project .photo-hover::after,
.section__project .photo-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.15), transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease, background-position 0.1s;
}
section__project .photo-hover:hover::after,
.section__project .photo-hover:hover::after {
  opacity: 1;
}
section__case--header,
.section__case--header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section__case--title,
.section__case--title {
  font: var(--text-title);
}
section__case--title span,
.section__case--title span {
  color: var(--orange);
}
section__case--subtitle,
.section__case--subtitle {
  font: var(--text-body);
  color: var(--soft);
}
section__case--cover,
.section__case--cover {
  margin-top: 32px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
section__experience,
.section__experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section__experience--row,
.section__experience--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 24px;
}
section__contact,
.section__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 100px 0 120px;
  width: 100%;
}
section__contact--grid,
.section__contact--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 16px;
  width: 100%;
}
section__contact--card,
.section__contact--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--offset);
  text-decoration: none;
  border-radius: 10px;
  padding: 14px 12px;
}
section__contact--card span,
.section__contact--card span {
  font: var(--text-small);
  white-space: normal;
  text-align: center;
  line-height: 16px;
}
section__contact--card:hover,
.section__contact--card:hover {
  rotate: -2deg;
  scale: 1.05;
}
section__contact--card:hover .section__contact--icon,
.section__contact--card:hover .section__contact--icon {
  color: var(--orange);
}
section__contact--icon,
.section__contact--icon {
  color: var(--soft);
}
section__photos,
.section__photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  padding-bottom: 100px;
  margin: 0 -40px;
}
section__photos img,
.section__photos img {
  border-radius: 16px;
  scale: 1.1;
  transition: all 300ms ease;
  box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
section__photos img:nth-child(1), section__photos img:nth-child(3),
.section__photos img:nth-child(1),
.section__photos img:nth-child(3) {
  rotate: -6deg;
}
section__photos img:nth-child(2), section__photos img:nth-child(4),
.section__photos img:nth-child(2),
.section__photos img:nth-child(4) {
  rotate: 6deg;
}
section__photos img:hover,
.section__photos img:hover {
  scale: 1.2;
  z-index: 1;
}
section__photos img:hover:nth-child(1), section__photos img:hover:nth-child(3),
.section__photos img:hover:nth-child(1),
.section__photos img:hover:nth-child(3) {
  rotate: -3deg;
}
section__photos img:hover:nth-child(2), section__photos img:hover:nth-child(4),
.section__photos img:hover:nth-child(2),
.section__photos img:hover:nth-child(4) {
  rotate: 3deg;
}
section__gallery,
.section__gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
section__gallery--item,
.section__gallery--item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  overflow: hidden;
}
section__gallery--item small,
.section__gallery--item small {
  font: var(--text-smaller);
  color: var(--soft);
  margin-bottom: 16px;
}
section__quote--item,
.section__quote--item {
  font: var(--text-heading);
  border-left: 2px solid var(--subtle);
  padding-left: 16px;
}
section__quote--item span,
.section__quote--item span {
  font: var(--text-smaller);
  color: var(--soft);
  display: block;
  margin-top: 4px;
}
section__quote--grid,
.section__quote--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}
section__how--grid,
.section__how--grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section__how--card,
.section__how--card {
  background-color: var(--offset);
  border-radius: 10px;
  padding: 14px 20px 18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: fit-content;
}
section__how--title,
.section__how--title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: var(--fw-600);
}
section__how--title span,
.section__how--title span {
  font-feature-settings: "cv01" 1, "cv09" 1, "cv02" 1, "zero" 1;
  color: var(--orange);
}
section__how--text,
.section__how--text {
  color: var(--soft);
  font: var(--text-small);
}

footer,
.footer {
  padding: 120px 0 80px;
  background-image: linear-gradient(to bottom, var(--background), #0f0f0f);
}
footer__wrapper,
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px 24px;
}
footer__intro,
.footer__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px 12px;
}
footer__intro--avatar,
.footer__intro--avatar {
  border-radius: 100px;
  height: 40px;
  width: min(100%, 40px);
}
footer__intro--name,
.footer__intro--name {
  font-weight: var(--fw-600);
}
footer__intro--role,
.footer__intro--role {
  font: var(--text-small);
  color: var(--soft);
}
footer__menu,
.footer__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
footer__menu--links,
.footer__menu--links {
  display: flex;
  flex-direction: column;
}
footer__menu--item,
.footer__menu--item {
  display: flex;
  align-items: center;
  font: var(--text-small);
  color: var(--soft);
  position: relative;
  text-decoration: none;
  height: 28px;
}
footer__menu--item:hover,
.footer__menu--item:hover {
  color: var(--accent);
}

.modal {
  display: none;
}
.modal--toggle:checked ~ .modal {
  display: flex;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal--overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  backdrop-filter: blur(20px);
  animation: fadeIn 0.2s ease both;
}
.modal__container {
  position: relative;
  background: var(--background);
  padding: 28px 32px 32px;
  border-radius: 16px;
  width: min(100%, 400px);
  z-index: 1;
  animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
}
.modal__container--title {
  font: var(--text-title);
  margin-bottom: 4px;
}
.modal__container--text {
  color: var(--soft);
  margin-bottom: 16px;
}
.modal__container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 16px;
  width: 100%;
}
.modal__container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--offset);
  text-decoration: none;
  border-radius: 10px;
  padding: 14px 12px;
}
.modal__container--card span {
  font: var(--text-small);
  white-space: normal;
  text-align: center;
  line-height: 16px;
}
.modal__container--card:hover {
  rotate: -2deg;
  scale: 1.05;
}
.modal__container--card:hover .section__contact--icon {
  color: var(--orange);
}
.modal--close {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  color: var(--soft);
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.modal--close:hover {
  color: var(--accent);
}

#imgModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 0.2s ease both;
}
#imgModal img {
  width: 100%;
  max-height: 90%;
  animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
  object-fit: contain;
}
#imgModal #closeBtn,
#imgModal #prevBtn,
#imgModal #nextBtn {
  display: grid;
  place-items: center;
  background-color: rgba(30, 30, 28, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--accent);
  border-radius: 999px;
  padding-bottom: 1px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  user-select: none;
  z-index: 9;
}
#imgModal #closeBtn svg,
#imgModal #prevBtn svg,
#imgModal #nextBtn svg {
  scale: 1.2;
}
#imgModal #closeBtn {
  top: 20px;
  right: 20px;
}
#imgModal #prevBtn,
#imgModal #nextBtn {
  top: 50%;
  transform: translateY(-50%);
}
#imgModal #prevBtn {
  left: 20px;
  padding-right: 1px;
}
#imgModal #nextBtn {
  right: 20px;
  padding-left: 1px;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 580px) {
  main,
  .main,
  footer__wrapper,
  .footer__wrapper {
    padding-top: 20px;
  }
  nav,
  .nav {
    height: 88px;
    padding-bottom: 2px;
  }
  nav.scrolled,
  .nav.scrolled {
    height: 64px;
  }
  nav-case,
  .nav-case {
    height: 64px;
  }
  nav-case.scrolled,
  .nav-case.scrolled {
    height: 44px;
  }
  nav__intro--avatar,
  .nav__intro--avatar {
    height: 36px;
    width: min(100%, 36px);
  }
  nav__intro--name,
  .nav__intro--name {
    font: var(--text-small);
    font-weight: var(--fw-600);
  }
  nav__intro--role,
  .nav__intro--role {
    font: var(--text-smaller);
  }
  nav__menu--toggle,
  .nav__menu--toggle {
    display: flex;
  }
  nav__menu--links,
  .nav__menu--links {
    display: none;
    flex-direction: column;
    background-color: #101010;
    padding: 8px 12px 12px;
    gap: 0;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-10px);
    transition: none;
    animation: fade-in-menu 400ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    border-radius: 12px;
    z-index: 2;
  }
  nav__menu--links.active,
  .nav__menu--links.active {
    display: flex;
  }
  @keyframes fade-in-menu {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  nav__menu--item,
  .nav__menu--item {
    width: 100%;
    padding: 0 12px 0 12px;
    font: var(--text-body);
  }
  nav__menu--item.active::after,
  .nav__menu--item.active::after {
    top: calc(50% - 2px);
    left: 0;
  }
  header,
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  button,
  .bt {
    gap: 6px;
    height: 40px;
    padding: 0 16px 3px;
    font: var(--text-body);
    font-weight: var(--fw-600);
    border-radius: 10px;
  }
  section,
  .section {
    flex-direction: column;
    gap: 16px;
  }
  section--label,
  .section--label {
    position: relative;
    top: 0;
    width: 100%;
    font-weight: var(--fw-600);
    line-height: 24px;
  }
  section__col,
  .section__col {
    gap: 40px;
  }
  section__experience--row,
  .section__experience--row {
    flex-direction: column;
  }
  section__photos,
  .section__photos {
    padding-bottom: 60px;
    margin: -24px -40px 0;
  }
  section__gallery--item,
  .section__gallery--item {
    margin: 0 -24px;
  }
  section__gallery--item small,
  .section__gallery--item small {
    padding-inline: 24px;
  }
  footer,
  .footer {
    padding-block: 60px;
  }
  footer__wrapper,
  .footer__wrapper {
    justify-content: center;
  }
  footer__intro,
  .footer__intro {
    flex-direction: column;
    text-align: center;
  }
  footer__menu--item,
  .footer__menu--item {
    width: 100%;
    justify-content: center;
  }
  .modal--toggle:checked ~ .modal {
    align-items: flex-end;
  }
  .modal__container {
    border-radius: 16px 16px 0 0;
    animation: fadeInUp 0.2s ease 0.1s both;
  }
  .modal__container--grid {
    grid-template-columns: 1fr;
  }
  .modal__container--card {
    flex-direction: row;
    gap: 8px;
    height: 64px;
    padding: 0 16px 4px;
  }
  .modal__container--card span {
    font: var(--text-body);
    line-height: 20px;
  }
  .modal__container--card:hover {
    rotate: -2deg;
    scale: 1.05;
  }
  .modal__container--card:hover .section__contact--icon {
    color: var(--orange);
  }
  .modal--close {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    color: var(--soft);
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
  .modal--close:hover {
    color: var(--accent);
  }
  #imgModal #prevBtn,
  #imgModal #nextBtn {
    top: auto;
    bottom: 20px;
    transform: none;
  }
  #imgModal #prevBtn {
    left: auto;
    right: calc(50% + 8px);
  }
  #imgModal #nextBtn {
    right: auto;
    left: calc(50% + 8px);
  }
}
.relative {
  position: relative;
}

.fx {
  display: flex;
}
.fx-row {
  flex-direction: row;
}
.fx-col {
  flex-direction: column;
}
.fx-wrap {
  flex-wrap: wrap;
}
.fx-1 {
  flex: 1;
}
.fx-gap-2 {
  gap: 2px;
}
.fx-gap-4 {
  gap: 4px;
}
.fx-gap-8 {
  gap: 8px;
}
.fx-gap-12 {
  gap: 12px;
}
.fx-gap-16 {
  gap: 16px;
}
.fx-gap-24 {
  gap: 24px;
}
.fx-gap-32 {
  gap: 32px;
}
.fx-gap-40 {
  gap: 40px;
}
.fx-gap-48 {
  gap: 48px;
}
.fx-gap-56 {
  gap: 56px;
}
.fx-gap-64 {
  gap: 64px;
}
.fx-gap-72 {
  gap: 72px;
}
.fx-gap-80 {
  gap: 80px;
}

.spacer {
  display: block;
  width: 100%;
}
.spacer-8 {
  height: 8px;
}
.spacer-16 {
  height: 16px;
}
.spacer-12 {
  height: 12px;
}
.spacer-24 {
  height: 24px;
}
.spacer-32 {
  height: 32px;
}
.spacer-40 {
  height: 40px;
}
.spacer-48 {
  height: 48px;
}
.spacer-56 {
  height: 56px;
}
.spacer-64 {
  height: 64px;
}
.spacer-72 {
  height: 72px;
}
.spacer-80 {
  height: 80px;
}
.spacer-100 {
  height: 100px;
}
.spacer-120 {
  height: 120px;
}

/*# sourceMappingURL=main.css.map */
