body {
  font-family: var(--font-sans);
  background-color: #000;
  color: var(--accent);
  font: var(--text-body);
  scroll-behavior: smooth;
  text-wrap: pretty;
  font-feature-settings: "ss03" 1;
  overflow-x: hidden;
  &.loading * {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &.loaded * {
    opacity: 1;
  }
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../font/InterVariable.woff2") format("woff2");
}

main,
.main {
  display: flex;
  flex-direction: column;
  width: min(100%, calc(550px + (var(--padding-inline) * 2)));
  gap: clamp(120px, 5vw + 60px, 200px);
  margin-inline: auto;
  position: relative;
  padding-inline: var(--padding-inline);
  padding-top: 60px;
}

nav,
.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-bottom: 4px;
  width: 100%;
  z-index: 9;
  &.scrolled {
    height: 64px;
    background-color: rgb(var(--background-rgb) / 80%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    .nav {
      &__intro {
        &--name {
          font: var(--text-small);
          font-weight: var(--fw-600);
        }
        &--role {
          font: var(--text-smaller);
        }
        &--avatar {
          height: 36px;
          width: min(100%, 36px);
        }
      }
    }
  }
  &-case {
    &.scrolled {
      height: 44px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: min(100%, calc(550px + (var(--padding-inline) * 2)));
    padding: 0 var(--padding-inline);
    margin-inline: auto;
  }
  &__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
    &--avatar {
      border-radius: 100px;
      height: 40px;
      width: min(100%, 40px);
    }
    &--name {
      font-weight: var(--fw-600);
    }
    &--role {
      font: var(--text-small);
      color: var(--soft);
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    position: relative;
    &--links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
    &--item {
      display: flex;
      align-items: center;
      gap: 4px;
      font: var(--text-small);
      color: var(--soft);
      font-weight: var(--fw-500);
      position: relative;
      text-decoration: none;
      height: 32px;
      &.active {
        color: var(--accent);
        &::after {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: var(--orange);
          position: absolute;
          top: calc(100% - 4px);
          left: calc(50% - 2px);
        }
      }
      &:hover {
        color: var(--accent);
      }
    }
    &--toggle {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 32px;
      padding: 0 14px 2px 16px;
      @extend .bt-secondary;
      svg {
        margin: 0;
        top: 0;
      }
      // display: none;
    }
  }
}

button,
.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 36px;
  padding: 0 20px 2px;
  font: var(--text-small);
  font-weight: var(--fw-600);
  border-radius: 999px;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -2;
    background: url("../img/canvas-noise.png") repeat;
    background-size: 40px;
    opacity: 0.15;
  }
  &::before {
    content: "";
    position: absolute;
    box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset,
      rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset,
      rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset,
      rgba(255, 255, 255, 0.1) 0px 0px 3px;
    border-radius: 28px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &:hover {
    background-color: var(--offset);
  }
  &-secondary {
    box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset,
      rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset,
      rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset;
    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      background: radial-gradient(
        61.35% 50.07% at 48.58% 50%,
        rgb(0, 0, 0) 0%,
        rgb(24, 24, 24) 100%
      );
      box-shadow: rgba(134, 143, 151, 0.2) 0px 0px 0px 0.5px inset,
        rgba(134, 143, 151, 0.4) 1px 1px 0px -0.5px inset,
        rgba(134, 143, 151, 0.4) -1px -1px 0px -0.5px inset,
        rgba(255, 255, 255, 0.1) 0px 0px 3px;
      border-radius: 28px;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  }
  svg {
    position: relative;
    margin-left: -2px;
    top: -0.5px;
  }
}
.gradient-text-orange {
  background: linear-gradient(
    90deg,
    rgb(179, 174, 245) 0.41%,
    rgb(215, 203, 231) 40.68%,
    rgb(229, 200, 200) 64.12%,
    rgb(234, 168, 121) 97.82%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.gradient-text-green {
  background: linear-gradient(74.08deg, #3aaa82 36.3%, #3fc6d8 99.02%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

header,
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(24px, 1vw + 18px, 32px);
  padding-top: clamp(120px, 5vw + 60px, 200px);
  text-align: center;
  &--hero,
  &--title {
    @extend .gradient-text-orange;
  }
  &--hero {
    font: var(--text-hero);
  }
  &--title {
    font: var(--text-title);
  }
  &--subtitle {
    font: var(--text-body);
    color: var(--soft);
    margin-top: 8px;
    max-width: 1000ch;
  }
}

.shader {
  position: relative;
  z-index: 0;
  &::before,
  &::after {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  &::before {
    background: linear-gradient(
        145.76deg,
        rgba(198, 198, 198, 0.16) -4.25%,
        rgba(27, 27, 27, 0.27) 20.75%
      ),
      linear-gradient(
        167.5deg,
        rgba(27, 27, 27, 0.034) 58.18%,
        rgba(198, 198, 198, 0.178) 92.77%
      );
    z-index: -1;
  }
  &::after {
    padding: 0.5px;
    background: linear-gradient(
      190deg,
      rgba(255, 255, 255, 0.8) 10.85%,
      rgba(20, 20, 20, 0.16) 24.36%,
      rgba(50, 50, 50, 0.16) 73.67%,
      rgba(255, 255, 255, 0.8) 90.68%
    );
    mask: linear-gradient(black, black) content-box exclude,
      linear-gradient(black, black);
    mix-blend-mode: overlay;
    z-index: 1;
  }
}
.shader-soft {
  position: relative;
  z-index: 0;
  box-shadow: rgba(134, 143, 151, 0.08) 0px 0px 0px 0.5px inset,
    rgba(134, 143, 151, 0.12) 1px 1px 0px -0.5px inset,
    rgba(134, 143, 151, 0.12) -1px -1px 0px -0.5px inset;
  &::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  &::before {
    background: linear-gradient(
        145.76deg,
        rgba(198, 198, 198, 0.16) -4.25%,
        rgba(27, 27, 27, 0.27) 20.75%
      ),
      linear-gradient(
        167.5deg,
        rgba(27, 27, 27, 0.034) 58.18%,
        rgba(198, 198, 198, 0.178) 92.77%
      );
    z-index: -1;
    opacity: 0.4;
  }
  // &::after {
  //   padding: 0.5px;
  //   background: linear-gradient(
  //     190deg,
  //     rgba(255, 255, 255, 0.5) 10.85%,
  //     rgba(20, 20, 20, 0.1) 24.36%,
  //     rgba(50, 50, 50, 0.1) 73.67%,
  //     rgba(255, 255, 255, 0.5) 90.68%
  //   );
  //   mask: linear-gradient(black, black) content-box exclude,
  //     linear-gradient(black, black);
  //   mix-blend-mode: overlay;
  //   z-index: 1;
  // }
}

.card {
  &-default {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: var(--background);
    @extend .shader;
  }
  &-soft {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: var(--background-subtle);
    @extend .shader-soft;
  }
}

section,
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  scroll-margin-top: 80px;
  &--label {
    font: var(--text-title);
  }
  &--title {
    font: var(--text-title);
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: clamp(80px, 5vw + 30px, 120px);
    flex: 1;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    width: 100%;
    &--title {
      font: var(--text-title);
      margin-bottom: 4px;
    }
    &--text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      &-soft {
        color: var(--soft);
      }
      svg {
        color: var(--orange);
      }
      &.quote {
        position: relative;
        padding-left: 24px;
        &::after {
          content: "“";
          font: var(--text-hero);
          position: absolute;
          left: 0;
          top: -5px;
          font-feature-settings: "ss03" 1, "liga" 1, "calt" 1;
        }
      }
    }
    &--link {
      margin-top: 4px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        list-style: circle;
        list-style-position: outside;
        span {
          color: var(--orange);
        }
      }
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 1vw + 12px, 24px);
    flex-wrap: wrap;
    &--card {
      display: flex;
      flex-direction: row;
      padding: 20px 24px 24px 20px;
      gap: 16px;
      border-radius: 16px;
      @extend .card-soft;

      img {
        width: min(100%, 40px);
        height: 40px;
        transform: scaleX(-1);
      }
    }
    .section__content--text {
      font: var(--text-body);
      font-weight: var(--fw-600);
    }
    .section__content--text-soft {
      font: var(--text-small);
    }
  }
  &__portfolio {
    &--grid {
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 24px;
    }
    &--card {
      display: flex;
      flex-direction: column;
      padding: 24px 32px 32px;
      text-decoration: none;
      border-radius: 16px;
      aspect-ratio: 580/400;
      background-color: var(--background-subtle);
      transition: all 200ms ease;
      cursor: pointer;
      @extend .card-default;
      &:hover {
        scale: 1.01;
        color: var(--accent);
      }
    }
    &--title {
      display: flex;
      flex-direction: column;
      font: var(--text-body);
      font-weight: var(--fw-600);
      white-space: normal;
      span {
        display: block;
        font: var(--text-small);
        color: var(--soft);
        margin-bottom: 24px;
        margin-top: 2px;
      }
    }
    &--img {
      position: relative;
      img {
        object-fit: contain;
        height: auto;
      }
    }
  }
  &__project {
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
      gap: 24px;
      margin-top: 16px;
    }
    &--thumb {
      display: flex;
      flex-direction: column;
      font: var(--text-small);
      gap: 8px;
      text-decoration: none;
    }
    .photo-hover {
      position: relative;
      display: inline-block;
      overflow: hidden;
      perspective: 500px;
      --mouse-x: 50%;
      --mouse-y: 50%;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: radial-gradient(
          circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.15),
          transparent 70%
        );
        opacity: 0;
        transition: opacity 0.3s ease, background-position 0.1s;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__case {
    &--header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: left;
    }
    &--title {
      font: var(--text-title);
      // font-feature-settings: "ss03" 1, "cv06" 1, "cv10" 1, "cv11" 1, "liga" 1,
      //   "calt" 1;
      span {
        color: var(--orange);
      }
    }
    &--subtitle {
      font: var(--text-body);
      color: var(--soft);
    }
    &--cover {
      margin-top: 32px;
      cursor: pointer;
      @extend .shader;
      border-radius: 16px;
      overflow: hidden;
    }
  }
  &__experience {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &--row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0 24px;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
      gap: 16px;
      width: 100%;
    }
    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      text-decoration: none;
      border-radius: 10px;
      padding: 14px 12px;
      font: var(--text-smaller);
      @extend .card-soft;
      span {
        font: var(--text-smaller);
        white-space: normal;
        text-align: center;
        line-height: 16px;
      }
      &:hover {
        color: var(--accent);
        background-color: var(--background-soft);
      }
    }
    &--icon {
      color: var(--soft);
    }
  }
  &__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding-top: clamp(120px, 5vw + 60px, 200px);
    img {
      border-radius: 16px;
      scale: 1.1;
      transition: all 300ms ease;
      box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
      &:nth-child(1),
      &:nth-child(3) {
        rotate: -6deg;
      }
      &:nth-child(2),
      &:nth-child(4) {
        rotate: 6deg;
      }
      &:hover {
        scale: 1.2;
        z-index: 1;
        &:nth-child(1),
        &:nth-child(3) {
          rotate: -3deg;
        }
        &:nth-child(2),
        &:nth-child(4) {
          rotate: 3deg;
        }
      }
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    gap: 24px;
    &--item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 8px;
      small {
        font: var(--text-smaller);
        color: var(--soft);
        margin-bottom: 16px;
      }
      img {
        @extend .shader;
        border-radius: 16px;
        overflow: hidden;
      }
    }
  }
  &__quote {
    // font-family: var(--font-serif);
    // font-size: 24px;
    // line-height: 1.3;
    &--grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: clamp(32px, 2vw + 22px, 48px);
    }
    &--item {
      font: var(--text-head);
      border-left: 2px solid var(--subtle);
      padding-left: 16px;
      span {
        font: var(--text-smaller);
        color: var(--soft);
        display: block;
        margin-top: 4px;
      }
    }
  }
  &__how {
    &--grid {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &--card {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 20px 24px 24px;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      background-color: var(--background-subtle);
      @extend .shader-soft;
    }
    &--title {
      display: flex;
      flex-direction: row;
      gap: 8px;
      font-weight: var(--fw-600);

      span {
        font-feature-settings: "cv01" 1, "cv09" 1, "cv02" 1, "zero" 1;
        color: var(--orange);
      }
    }
    &--text {
      color: var(--soft);
      font: var(--text-small);
    }
  }
}

footer,
.footer {
  padding: clamp(120px, 5vw + 60px, 200px) 0;
  &__wrapper {
    width: min(100%, calc(550px + (var(--padding-inline) * 2)));
    padding-inline: var(--padding-inline);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px 24px;
  }
  &__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px 12px;
    &--avatar {
      border-radius: 100px;
      height: 40px;
      width: min(100%, 40px);
    }
    &--name {
      font-weight: var(--fw-600);
    }
    &--role {
      font: var(--text-small);
      color: var(--soft);
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    &--links {
      display: flex;
      flex-direction: column;
    }
    &--item {
      display: flex;
      align-items: center;
      font: var(--text-small);
      color: var(--soft);
      position: relative;
      text-decoration: none;
      height: 28px;
      &:hover {
        color: var(--accent);
      }
    }
  }
}

.modal {
  display: none;
  &--toggle:checked ~ .modal {
    display: flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  &--overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    backdrop-filter: blur(20px);
    animation: fadeIn 0.2s ease both;
  }
  &__container {
    position: relative;
    background: var(--background-subtle);
    padding: 28px 32px 32px;
    border-radius: 16px;
    width: min(100%, 400px);
    z-index: 1;
    animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
    box-shadow: rgba(134, 143, 151, 0.04) 0px 0px 0px 0.5px inset,
      rgba(134, 143, 151, 0.08) 1px 1px 0px -0.5px inset,
      rgba(134, 143, 151, 0.08) -1px -1px 0px -0.5px inset;
    text-align: left;
    &--title {
      font: var(--text-heading);
      margin-bottom: 4px;
    }
    &--text {
      font: var(--text-small);
      color: var(--soft);
      margin-bottom: 16px;
    }
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      gap: 16px;
      width: 100%;
    }
    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background-color: var(--background-subtle);
      text-decoration: none;
      border-radius: 10px;
      padding: 14px 12px;
      @extend .shader-soft;
      span {
        font: var(--text-small);
        white-space: normal;

        line-height: 16px;
      }
      &:hover {
        background-color: var(--background-soft);
        color: var(--accent);
      }
    }
  }
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    color: var(--soft);
    cursor: pointer;
    width: 48px;
    height: 48px;
    &:hover {
      color: var(--accent);
    }
  }
}

#imgModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 0.2s ease both;

  img {
    width: 100%;
    max-height: 90%;
    animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
    object-fit: contain;
  }

  #closeBtn,
  #prevBtn,
  #nextBtn {
    display: grid;
    place-items: center;
    background-color: rgb(30 30 28 / 75%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: var(--accent);
    border-radius: 999px;
    padding-bottom: 1px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    user-select: none;
    z-index: 9;

    svg {
      scale: 1.2;
    }
  }
  #closeBtn {
    top: 20px;
    right: 20px;
  }

  #prevBtn,
  #nextBtn {
    top: 50%;
    transform: translateY(-50%);
  }

  #prevBtn {
    left: 20px;
    padding-right: 1px;
  }
  #nextBtn {
    right: 20px;
    padding-left: 1px;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
