.wrapper {
  width: 100%;
  padding: 32px;
  margin: 0 auto;
  animation: fadeIn 0.2s ease both;
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

// .nav {
//   position: sticky;
//   top: 0;
//   margin: 0 auto;
//   width: 100%;
//   z-index: 9;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 8px;
//   background-color: rgb(10 10 11 / 50%);
//   -webkit-backdrop-filter: saturate(180%) blur(20px);
//   backdrop-filter: saturate(180%) blur(20px);
//   .button {
//     text-decoration: none;
//     color: var(--accent);
//     font-size: 15px;
//     font-weight: 500;
//     border-radius: 99px;
//     background-color: transparent;
//     padding: 0 20px 4px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 44px;
//     white-space: nowrap;
//     &:hover {
//       color: var(--accent);
//       background-color: rgb(255 255 255 / 10%);
//     }
//   }
// }

#datetime {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: var(--c-40);
  height: 28px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: min(100%, 780px);
  margin-inline: auto;
  margin-bottom: 40px;
  gap: 0 24px;
  &__theme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    &--item {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.05em;
      opacity: 0.24;
      height: 32px;
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      white-space: nowrap;
      transition: var(--tr);
      &.active {
        color: var(--c-100);
        opacity: 1;
      }
    }
  }
}
.bio {
  &__container {
    display: flex;
    flex-direction: column;
    width: min(100%, 780px);
    margin-inline: auto;
  }
  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 80px;
  }

  &--avatar {
    border-radius: 100%;
    width: min(100%, 40px);
    height: 40px;
    margin-bottom: 24px;
  }

  &--title {
    font-size: 18px;
    font-weight: 500;
    color: var(--c-100);
    margin-bottom: 16px;
  }
  &--subtitle,
  &--links,
  &--companies {
    color: var(--c-65);
    margin-bottom: 16px;
    span,
    a {
      color: var(--c-100);
      font-weight: 400;
    }
    span {
      position: relative;
      &.company {
        // padding-left: 26px;
        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 0;
        }
      }
    }
    a {
      transition: var(--tr);
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: var(--c-65);
      }
    }
  }
  &--links {
    white-space: nowrap;
  }
  // &--companies {
  //   align-content: center;
  //   align-items: center;
  //   display: flex;
  //   flex: none;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   gap: 0 8px;
  //   justify-content: flex-start;
  // }
  &--label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: var(--c-40);
    padding-bottom: 8px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin-block: 24px;
  flex-wrap: wrap;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 16px 2px;
  background-color: var(--c-100);
  color: var(--background);
  border-radius: 99px;
  text-decoration: none;
  transition: var(--tr);
  white-space: nowrap;
  width: fit-content;
  &:hover {
    background-color: var(--c-65);
    color: var(--background);
  }

  &--secondary {
    background-color: var(--c-8);
    color: var(--accent);
    font-weight: 500;
    &:hover {
      background-color: var(--c-4);
      color: var(--accent);
    }
  }
}

.contactInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  position: relative;
  &--text {
    font-size: 10px;
    font-weight: 300;
    color: var(--c-65);
    letter-spacing: 0.03em;
    cursor: pointer;
    span {
      display: inline-block;
      border: 1px solid var(--c-24);
      border-radius: 5px;
      padding: 0 4px;
      border-bottom: 2px solid var(--c-24);
      font-size: 9px;
    }
  }
  &--label {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.05em;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 11px 1px 8px;
    border-radius: 99px;
    gap: 6px;
    border: 1px solid var(--c-8);
    span {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--green);
      animation: pulse-animation 1.5s infinite;
      display: block;
      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 rgb(48 209 88 / 24%);
        }
        100% {
          box-shadow: 0 0 0 16px rgb(48 209 88 /0);
        }
      }
    }
  }
}

.callout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
  width: min(100%, 780px);
  background-color: var(--c-4);
  border-radius: 12px;
  margin: 0 auto 60px;
  padding: 18px 24px 16px;
  &--content {
    font-weight: 400;
    margin-bottom: 4px;
    strong {
      font-weight: 700;
      display: block;
    }
  }
  &--label {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    color: #6cdb88;
    background-color: rgba(48, 209, 88, 0.08);
    padding: 6px 18px 10px;
    border-radius: 99px;
    animation: available-pulse 2s infinite;
    margin-block: 4px;
    @keyframes available-pulse {
      0% {
        box-shadow: 0 0 0 rgb(48 209 88 /16%);
      }
      100% {
        box-shadow: 0 0 0 12px rgb(48 209 88 /0);
      }
    }
  }
  .buttonContainer {
    margin: 4px 0 8px;
  }
}

.copyAlert {
  display: none;
  background-color: var(--c-80);
  color: var(--background);
  backdrop-filter: blur(20px);
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  font-weight: 600;
  z-index: 9;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 100px;
  padding: 0 20px 4px 14px;
  height: 40px;
  transition: var(--tr);
  transform-origin: center bottom;
  animation: fade-in-alert 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
  white-space: nowrap;
  @keyframes fade-in-alert {
    0% {
      opacity: 0;
      scale: 0.96;
      translate: 0 16px;
    }
    100% {
      opacity: 1;
      scale: 1;
      translate: 0 0;
    }
  }
}

.work {
  display: flex;
  flex-direction: column;
  width: min(100%, 780px);
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 80px auto 0;

  &__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    gap: 60px;
    &:not(&:last-child) {
      margin-bottom: 80px;
    }
    &--title {
      display: block;
      font-size: 20px;
      font-weight: 600;
      color: var(--c-100);
      text-decoration: none;
      margin-bottom: 8px;
    }
    &--text {
      display: block;
      color: var(--c-80);
      margin-bottom: 16px;
    }
    &--thumb {
      position: relative;
      width: 100%;
      // aspect-ratio: 100/66;
      width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
      // border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      transition: all 400ms ease !important;

      &:hover {
        opacity: 0.4 !important;
      }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   inset: 0;
      //   border-radius: 12px;
      //   box-shadow: inset 0 0 0 0.5px rgb(255 255 255 / 8%);
      //   mix-blend-mode: exclusion;
      //   pointer-events: none;
      // }
      & img {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        pointer-events: none;
      }
    }
  }
}

.tagList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  margin: 4px 0 8px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.05em;
  color: var(--c-40);
  font-weight: 300;
  &--item {
  }
}
.portfolio {
  margin: 0 auto 0;

  &__header {
    display: flex;
    flex-direction: row;
    gap: 16px 24px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: min(100%, 500px);
    margin: 0 auto 32px;

    &--aside {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 24px;
      gap: 32px;
      height: fit-content;
    }
  }

  &__aside {
    position: fixed;
    top: 32px;
    left: 32px;
    a {
      color: var(--accent);
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      gap: 6px;
      transition: var(--tr);
      font-size: 14px;
      &:hover {
        opacity: 0.65;
      }
      svg {
        position: relative;
      }
    }
    &--anchors {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__container {
    width: min(100%, 500px);
    margin-inline: auto;
  }
  &--label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--c-40);
    padding-bottom: 8px;
  }
  &--stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    img {
      display: inline-block;
      width: min(100%, 32px);
      height: 32px;
      padding: 2px;
      background-color: var(--c-4);
      border-radius: 6px;
    }
  }
  &--stackItem {
    position: relative;
    cursor: help;
    &::after {
      content: attr(aria-label);
      position: absolute;
      bottom: calc(100% + 6px);
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--c-100);
      color: var(--background);
      font-size: 12px;
      font-weight: 500;
      padding: 1px 6px;
      border-radius: 6px;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: opacity 100ms ease-in-out;
      z-index: 2;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  .tagList {
    margin: 0;
    gap: 8px;
    &--item {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.05em;
      height: 24px;
      display: flex;
      align-items: center;
      padding: 0 10px 1px;
      border-radius: 99px;
      border: 1px solid var(--c-8);
      color: var(--c-100);
    }
  }

  &--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--accent);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: var(--tr);
    text-decoration: none;
    width: fit-content;
  }
  &--icon {
    height: 32px;
    width: 32px;
    position: relative;
    svg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    margin-bottom: 8px;
    color: var(--accent);
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
  }
  h4 {
    margin-bottom: 8px;
    color: var(--accent);
    font-size: 17px;
    font-weight: 600;
  }
  h6 {
    color: var(--accent);
    font-size: 20px;
    font-weight: 400;
  }
  .link {
    text-decoration: none;
    color: #fff;
    transition: var(--tr);
    margin-top: 16px;
    display: inline-block;
    width: fit-content;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  small {
    font-size: 11px;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0.02em;
    opacity: 0.4;
    text-align: center;
    display: inline-block;
  }
  li {
    list-style: circle;
    list-style-position: outside;
    margin-bottom: 8px;
  }
}
.stickyMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 6px;
  border-radius: 99px;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgb(10 10 11 / 24%);
  transition: var(--tr);
  // mix-blend-mode: exclusion;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 8;
  &--item {
    display: grid;
    place-items: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--accent);
    height: 30px;
    border-radius: 99px;
    padding: 0 12px 2px;
    text-decoration: none;
    transition: all 100ms ease;
    white-space: nowrap;
    &:hover {
      background: var(--c-16);
    }
  }
}

.highlight {
  color: var(--yellow);
}

.backButton {
  z-index: 9;
  position: fixed;
  top: 24px;
  left: 24px;
  background-color: var(--c-40);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 99px;
  width: 44px;
  height: 44px;
  gap: 8px;
  display: grid;
  place-items: center;
  transition: var(--tr);
  cursor: pointer;
  color: var(--background);
  &:hover {
    background-color: var(--c-80);
  }
  svg {
    position: relative;
    top: -1px;
  }
}

.thumbGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-inline: auto;
  width: min(100%, 500px);
  gap: 30px;
  &__column {
    display: grid;
    margin-inline: auto;
    gap: 30px;
    margin-block: 0;
    width: min(100%, 780px);

    &.three {
      grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr));
    }
    &.two {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 15px), 1fr));
    }
  }
  img {
    animation: fadeIn 0.2s ease both;
  }
}

.thumbItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  user-select: none;
  width: min(100%, 780px);

  img {
    display: block;
    margin: 0 auto;
    max-height: 600px;
    width: min(100%, 780px);
    object-fit: contain;
    cursor: pointer;
    // border-radius: 12px;
    // background-color: var(--c-2);
    // box-shadow: inset 0 0 0 0.5px var(--c-4);
  }
}

#imgModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(11 11 11 / 75%);
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 0.2s ease both;

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    animation: fadeInScale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s both;
  }

  #closeBtn,
  #prevBtn,
  #nextBtn {
    display: grid;
    place-items: center;
    background-color: var(--c-8);
    color: var(--accent);
    border-radius: 999px;
    padding-bottom: 1px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    user-select: none;
    z-index: 9;
    transition: var(--tr);
    backdrop-filter: blur(20px);
    svg {
      scale: 1.2;
    }
  }
  #closeBtn {
    top: 20px;
    right: 20px;
  }

  #prevBtn,
  #nextBtn {
    top: 50%;
    transform: translateY(-50%);
  }

  #prevBtn {
    left: 20px;
    padding-right: 1px;
  }
  #nextBtn {
    right: 20px;
    padding-left: 1px;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  width: min(100%, 780px);
  margin: 120px auto 40px;
  display: flex;
  flex-direction: column;
  &-portfolio {
    width: min(100%, 500px);
  }
  &__linkGrid {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
    color: var(--c-24);
  }
  &--link {
    text-decoration: none;
    color: var(--c-80);
    width: fit-content;
    transition: var(--tr);
    cursor: pointer;
    user-select: none;
    &:hover {
      color: var(--c-100);
    }
  }
  &--label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: var(--c-65);
    padding-bottom: 8px;
  }
  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 60px;
  }
}

.testimonial {
  width: min(100%, 780px);
  margin: 100px auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 60px;
    margin-block: auto;
  }
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    &--aside {
      width: min(100%, 130px);
    }
    &--content {
      width: 100%;
      margin: 0 auto;
      opacity: 1;
      line-height: 1.7;
      color: var(--c-80);
    }
    &--avatar {
      width: min(100%, 40px);
      height: 40px;
      border-radius: 100%;
      background-color: var(--c-4);
      margin-bottom: 12px;
    }
    &--author,
    &--role {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.025em;
    }
    &--author {
      font-weight: 500;
      color: var(--c-100);
      margin-bottom: 4px;
    }
    &--role {
      font-weight: 300;
      color: var(--c-65);
    }
  }
}
@media only screen and (max-width: 868px) {
  .backButton {
    left: 50%;
    right: auto;
    translate: -50% 0;
  }
  .portfolio {
    &__aside {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 16px;
  }
  .bio {
    &__grid {
      display: flex;
      flex-direction: column;
    }
  }
  .contactInfo {
    margin-top: 8px;
  }

  .thumbGrid {
    &__column {
      &.three,
      &.two {
        grid-template-columns: 1fr;
      }
    }
  }
  .thumbGrid,
  .thumbGrid.two,
  .thumbGrid.three {
    grid-template-columns: 1fr;
  }
  .thumbItem {
    img {
      border-radius: 12px;
    }
  }

  .work {
    &__card {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  .portfolio {
    &__header {
      gap: 24px;
      &--content {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
      }
      &--aside {
        position: relative;
        top: 0;
        gap: 24px;
      }
    }
  }
  .footer {
    margin: 80px auto;
  }
  #imgModal {
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 0;
    }
    #prevBtn,
    #nextBtn {
      top: auto;
      bottom: 20px;
      transform: none;
    }

    #prevBtn {
      left: auto;
      right: calc(50% + 8px);
    }
    #nextBtn {
      right: auto;
      left: calc(50% + 8px);
    }
  }
  .tagList {
    gap: 6px;
    margin: 0 0 8px;
  }
  .testimonial {
    // display: none;
    margin-block: 60px;
    &__grid {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &__card {
      flex-direction: column;
      gap: 16px;
      &--aside,
      &--content {
        width: 100%;
      }
    }
  }

  .footer {
    margin-bottom: 0px;
    &__grid {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
