:root {
  --accent: #ededec;
  --soft: #a1a09a;
  --subtle: #3c3c38;
  --offset: #1e1e1c;
  --background: #161615;
  --background-rgb: 22 22 21;
  // --orange: #ff4a00;
  --orange: #eaa726;
  --green: #74cf5d;
  --yellow: #f3db2e;
  --font-sans: Inter, sans-serif;
  --font-serif: "Newsreader", sans-serif;
  --text-smaller: var(--fw-500) 13px/18px var(--font-sans);
  --text-small: var(--fw-500) 14px/20px var(--font-sans);
  --text-body: var(--fw-500) 16px/24px var(--font-sans);
  --text-heading: var(--fw-600) 18px/24px var(--font-sans);
  --text-title: var(--fw-700) 22px/30px var(--font-sans);
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --tr: all 100ms ease;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
