:root {
  --accent: #fff;
  --soft: #868f97;
  --subtle: #3c4145;
  --offset-hover: #202027;
  --offset: #16161b;
  --background-soft: rgb(255 255 255 / 2%);
  --background-subtle: rgb(255 255 255 / 1%);
  --background: #0b0b0f;
  --background-rgb: 11 11 15;
  --orange: #f6c86a;
  // --orange: #eaa726;
  --green: #4ebe96;
  --yellow: #f3db2e;
  --font-sans: "Calibre", sans-serif;
  --text-small: var(--fw-400) 16px/1.3 var(--font-sans);
  --text-body: var(--fw-400) 18px/1.3 var(--font-sans);
  --text-heading: var(--fw-600) 24px/1.2 var(--font-sans);
  --text-title: var(--fw-600) 32px/1 var(--font-sans);
  --text-hero: var(--fw-600) 42px/1 var(--font-sans);
  --padding-gap: clamp(24px, 1vw + 20px, 32px);
  --radius: 16px;
  --radius-button: 10px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --tr: all 100ms ease;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --text-title: var(--fw-600) 28px/1 var(--font-sans);
    --text-hero: var(--fw-600) 30px/1 var(--font-sans);
    --radius: 10px;
  }
}
